<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Barang</title>
</head>

<body>

    <form action="/createbrg" method="post">
        <label>Kode Barang</label>
        <input type="text" name="kd_barang" required>
        <br>
        <label>Nama Barang</label>
        <input type="text" name="nama" required>
        <br>
        <label>Harga Beli</label>
        <input type="text" name="hrg_beli" required>
        <br>
        <label>Harga Jual</label>
        <input type="text" name="hrg_jual" required>
        <input type="submit" value="tambahkan">
    </form>

</body>

</html>